@mixin skeletonFlicker {
    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
    background-size: 200% 100%; /* make gradient larger so it can move */
    animation: flicker 1.5s infinite; 
}

@keyframes flicker {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

@mixin FlexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexContainerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}