.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(59, 58, 58);
    color: white;

    width: 100%;
    padding: 20px;

    /* This makes it grow when content is short */
    flex-shrink: 0;
}