.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-left: 50px;
    padding-right: 50px;

    .leftSection {
        display: flex;
        gap: 10px;

        // .MentorBtn-Green {
        //     background-color: #118577;
        //     color: white;
        //     padding: 12px;
        //     width: 140px;
        //     border: none;
        //     border-radius: 8px;
        //     cursor: pointer;
        //     font-weight: bold;
        //     transition: 0.3s ease-in-out;
        // }

        .loginBtn {
            padding: 12px;
            width: 100px;
            border: 1px solid rgb(227, 227, 227);
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s ease-in-out;
        }

        .loginBtn:hover {
            filter: brightness(90%);
        }
    }

}