<div class="cont">
    <div class="header">
        <h1 routerLink="">SeeFuture</h1> <!--ცარიელია რო ჰოუმზე გადავიდეს-->
            <div class="leftSection"> 
                <ng-container *ngIf="user; else showLoggedOut">
                    <img [src]="user.image" alt="Profile" class="profile-img" (click)="navigateToTheSettingsPage()"/>
                    <button (click)="logout()" class="MentorBtn-Green">გამოსვლა</button>
                </ng-container>
                
                <ng-template #showLoggedOut>
                    <!-- <button class="MentorBtn-Green" routerLink="/signup">გახდი მენტორი</button> -->
                    <button class="loginBtn" routerLink="/signin">შესვლა</button>
                </ng-template>
            </div>
    </div>
</div>