.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgb(227, 227, 227);
    background-color: rgb(227, 227, 227);
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    z-index: 10;

    h1 {
        user-select: none;
        cursor: pointer;
    }

    .leftSection {
        display: flex;
        gap: 10px;

        .loginBtn {
            padding: 12px;
            width: 100px;
            border: 1px solid rgb(227, 227, 227);
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s ease-in-out;
        }

        .loginBtn:hover {
            filter: brightness(90%);
        }
    }

}