.cont {
    background-color: rgb(244, 244, 244);
    
    .settings {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

            .userInfo {
                padding: 40px;
                min-height: 500px; 
                height: auto;
                width: 1200px;
                background-color: white;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                margin-top: 150px;

                img {
                    object-fit: cover;
                    border-radius: 50%;
                    justify-self: left;
                    align-self: center;
                    width: 150px;
                    height: 150px;
                    cursor: pointer;
                }

                .userInfo__Content {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    width: 100%;

                    .userInfo__Name {
                        .userInfo__Name__edit {
                            display: flex;

                            input {
                                width: 300px;
                            }
                        }
                    }

                    .userInfo__Email {
                        .userInfo__Email__edit {    
                            display: flex;

                            input {
                                width: 300px;
                            }
                        }
                    }

                    .userInfo__Password {
                        .userInfo__Password__edit {
                                display: flex;

                                input {
                                    width: 300px;
                                }
                        }
                    }

                    .userInfo__Specialty {
                        .userInfo__Specialty__edit {    
                            display: flex;

                            input {
                                width: 300px;
                            }
                        }
                    }

                    .userInfo__Name, .userInfo__Email, .userInfo__Password, .userInfo__Specialty {
                        display: flex;
                        // flex-direction: column;
                        gap: 10px;
                        width: 100%;

                        .userInfo__DataHolder {
                            color: gray;
                        }

                        p {
                            align-self: center;
                            font-size: 20px;
                        }

                        i {
                            cursor: pointer;
                        }
                    }
                }
            }

            .experience {
                margin-top: 40px;
                margin-bottom: 40px;
                padding: 40px;
                height: auto;
                width: 1200px;
                // height: 480px;
                background-color: white;
                border-radius: 20px;

                .resume {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 25px;
                    width: 100%;
                    height: 100%;

                    .resume__company, .resume__position, .resume__description {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 100%;

                        .error {
                            color: red;
                            font-size: 12px;
                            height: 12px;
                        }
                    }

                    .resume__ButtonHolder {
                        width: 100%;       

                        .settingsBtn {
                            width: 100%;
                            // height: 50px;
                        }
                    }

                    .resume__topController {
                        width: 100%;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        gap: 10px;

                        input {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    label {
                        font-weight: bold;
                    }

                    input {
                        height: 30px;
                        border: 1px solid #b5b5b5;
                    }

                    textarea {
                        height: 100px;
                        resize: none;
                        border: 1px solid #b5b5b5;
                    }
                }
            }
        }

        @media (min-width: 900px) and (max-width: 1199.98px) {
            .settings {
                height: 100%;

                .userInfo {
                    width: 880px;
                }

                .experience {
                    width: 880px;
                }
            }
        }

        @media (min-width: 600px) and (max-width: 899.98px) {
            .settings {
                // height: 100%;
            
                    .userInfo {
                        width: 580px;

                        .userInfo__Name {
                            .userInfo__Name__edit {
                                display: flex;

                                input {
                                    width: 200px;
                                }

                                .userInfo__Name__edit__SubmitBtn {
                                    width: 100px;
                                }
                            }
                        }

                        .userInfo__Email {
                            .userInfo__Email__edit {    
                                display: flex;

                                input {
                                    width: 200px;
                                }

                                .userInfo__Email__edit__SubmitBtn {
                                    width: 100px;
                                }
                            }
                        }

                        .userInfo__Password {
                            .userInfo__Password__edit {
                                display: flex;

                                input {
                                    width: 200px;
                                }

                                .userInfo__Password__edit__SubmitBtn {
                                    width: 100px;
                                }
                            }
                        }

                        .userInfo__Specialty {
                            .userInfo__Specialty__edit {    
                                display: flex;

                                input {
                                    width: 200px;
                                }

                                .userInfo__Specialty__edit__SubmitBtn {
                                    width: 100px;
                                }
                            }
                        }
                    }

                    .experience {
                        width: 580px;
                    }
            }
        }

        @media (min-width: 280px) and (max-width: 599.98px) {
            .settings {
                .userInfo {
                    width: 280px;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    h1 {
                        font-size: 20px;
                    }

                    img {
                        width: 100px;
                        height: 100px;
                    }
                    

                    .userInfo__Name, .userInfo__Email, .userInfo__Password, .userInfo__Specialty {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                }

                .experience {
                    width: 280px;
                }
            }
        }
}