<app-header></app-header>
<div class="cont">
    <div class="settings">
        <div class="userInfo" *ngIf="currentUser">
            <img [src]="currentUser.image" alt="Profile Image" class="profile-img"/>
            <div class="userInfo__Name">
                <h1>სახელი:</h1>
                <p>{{ currentUser.name }}</p>
            </div>
            <div class="userInfo__Email">
                <h1>ელ–ფოსტა:</h1>
                <p>{{ currentUser.email }}</p>
            </div>
            <div class="userInfo__Password">
                <h1>პაროლი:</h1>
                <p>{{ '•'.repeat(currentUser.password.length) }}</p>
            </div>
            <div class="userInfo__Specialty">
                <h1>პროფესია:</h1>
                <p>{{ currentUser.position }}</p>
            </div>
            
        </div>
        <div class="experience">
            <ul *ngFor="let Experience of experiences">
                <li>{{Experience.company}}</li>
                <li>{{Experience.position}}</li>
                <li>{{Experience.description}}</li>
            </ul>
            <form (ngSubmit)="addExperience()" [formGroup]="experience">
                <div class="resume">
                    <div class="resume__company">
                        <label for="Company">კომპანია</label>
                        <input type="text" name="Company" formControlName="company">
                        <p class="error">
                            {{ (experience.get('company')?.touched && experience.get('company')?.invalid) ?
                             'გთხოვთ შეიყვანოთ კომპანიის ან დაწესებულების სახელი (2–70 სიმბოლო)' : ''}}
                        </p>
                    </div>
                    <div class="resume__position">
                        <label for="Position">პოზიცია</label>
                        <input type="text" name="Position" formControlName="position">
                        <p class="error">
                            {{ (experience.get('position')?.touched && experience.get('position')?.invalid)?
                             'გთხოვთ შეიყვანოთ თანამდებობა (2–50 სიმბოლო)' : '' }}
                        </p>
                    </div>
                    <div class="resume__description">
                        <label for="Description">აღწერა</label>
                        <textarea name="Description" formControlName="description"></textarea>
                        <p class="error">{{ (experience.get('description')?.touched && experience.get('description')?.invalid)?
                            'გთხოვთ შეიყვანოთ აღწერილობა (10–100 სიმბოლო)' : ''}}</p>
                    </div>
                    <div class="resume__ButtonHolder">
                        <button class="MentorBtn-Green settingsBtn">დამატება</button>
                    </div>
                    <p class="error">{{textIsSpammy? 'გთხოვთ მოერიდოთ სპამს' : ''}}</p>
                </div>
            </form>
        </div>
    </div>
</div>

 