<app-header></app-header>
<div class="cont">
    <div class="settings">
        <div class="userInfo">
            <h1>პროფილის ფოტო</h1>
            <h1>სახელი</h1>
            <h1>ელ–ფოსტა</h1>
            <h1>პაროლი</h1>
            <h1>პროფესია</h1>
            <h1></h1>
        </div>
        <div class="experience">
            <ul>
            </ul>
            <div class="">
                <label for="">კომპანია</label>
                <input type="text" name="" id="">
                <label for="">პოზიცია</label>
                <input type="text">
                <label for="">აღწერა</label>
                <input type="text">
                <button>დამატება</button>
            </div>
        </div>
    </div>
</div>

