<app-header></app-header>
<div class="cont">
    <div class="settings">
        <div class="userInfo" *ngIf="currentUser">
            <img [src]="currentUser.profileImg" alt="Profile Image" class="profile-img"/>
            
            <h1>სახელი: {{ currentUser.name }}</h1>
            <h1>ელ–ფოსტა: {{ currentUser.email }}</h1>
            <h1>პაროლი: {{ '•'.repeat(currentUser.password.length) }}</h1>
            <h1>პროფესია: {{ currentUser.specialty }}</h1>
        </div>
        <div class="experience">
            <ul *ngFor="let Experience of experiences">
                <li>{{Experience.company}}</li>
                <li>{{Experience.position}}</li>
                <li>{{Experience.description}}</li>
            </ul>
            <form (ngSubmit)="addExperience()" #experienceForm="ngForm">
                <div class="resume">
                    <div class="resume__company">
                        <label for="Company">კომპანია</label>
                        <input type="text" name="Company" [(ngModel)]="experience.company">
                    </div>
                    <div class="resume__position">
                        <label for="Position">პოზიცია</label>
                        <input type="text" name="Position" [(ngModel)]="experience.position">
                    </div>
                    <div class="resume__description">
                        <label for="Description">აღწერა</label>
                        <textarea name="Description" [(ngModel)]="experience.description"></textarea>
                    </div>
                    <div class="resume__ButtonHolder">
                        <button class="MentorBtn-Green settingsBtn" [disabled]="!experienceForm.form.valid">დამატება</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

