<div class="cont">
    <div class="mentors fade-in" [class.visible]="visible" #mentorCardsRef>
        <div class="mentors__Header">
            <h3>მენტორები</h3>
            <a routerLink="/mentors">ყველა –></a>
        </div>
        <div class="mentorCards">
            <div *ngFor="let mentor of mentors">
                <div class="mentorCard" (click)="MentorsService.selectMentor(mentor)">
                    <div class="mentorCard__Content">
                        <div class="mentorCard__ProfileImg">
                            <img [src]="mentor.image">
                        </div>
                        <div class="mentorCard__InfoHolder">
                            <h1>{{mentor.name}}</h1>
                            <p>{{mentor.position}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
