.slider {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1200px;
    height: 500px;
    position: relative;

    .slides {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
        width: 1200px;
        height: 550px;

        img {
            width: 1200px;
            height: 544px;
            // object-fit:contain;
            background-color: #f0faf9;
        }

        .bottom-shade {
            position: absolute;
            bottom: 6px;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
            display: flex;
            align-items: center;
            padding-left: 20px;

                p {
                    background-color: transparent;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                }
        }
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        padding: 10px;
        cursor: pointer;
        // transform: translateY(-50%);
    }

    .prev{
        left: 20px;
    }

    .next {
        right: 20px;
    }
}