.slider {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1200px;
    height: 550px;
    position: relative;

    .slides {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
        width: 1200px;
        height: 550px;

        img {
            width: 1200px;
            height: 544px;
            // object-fit:contain;
            background-color: #f0faf9;
        }

        .bottom-shade {
            position: absolute;
            bottom: 6px;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
            display: flex;
            align-items: center;
            padding-left: 20px;

                p {
                    background-color: transparent;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    user-select: none;
                }
        }
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        padding: 10px;
        cursor: pointer;
        // transform: translateY(-50%);
    }

    .prev{
        left: 20px;
    }

    .next {
        right: 20px;
    }
}

.visible {
    animation: sliderFadeIn 2s;
}

@keyframes sliderFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 900px) and (max-width: 1199.98px) {
    .slider {
        width: 880px;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .slides {
            width: 880px;

            img {
                width: 880px;
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 899.98px) {
    .slider {
        width: 580px;
        height: 580px;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .slides {
            width: 580px;
            height: 580px;

            img {
                width: 580px;
                height: 574px;
                // object-fit: cover;
            }

            .bottom-shade {
                p {
                    font-size: 18px;
                }
            }
        }

        .prev{
            left: 10px;
        }

        .next {
            right: 10px;
        }
    }
}

@media (min-width: 280px) and (max-width: 599.98px) {
    .slider {
        width: 100%;
        text-align: left;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .slides {
            width: 100%;

            img {
                width: 100%;
                // object-fit: contain;
            }


            .bottom-shade {
                text-align: left;
                // padding-right: 4px;

                p {
                    font-size: 16px;
                    // margin-right: 5px;
                }
            }
        }

        .prev{
            left: 10px;
        }

        .next {
            right: 10px;
        }
    }
}