<div class="cont for-signUp">
    <div class="signup">
        <div class="signupContent">
            <div class="signupContent__Name">
                <label for="Name">სახელი</label>
                <input type="text">
            </div>
            <div class="signupContent__Email">
                <label for="Email">ელ–ფოსტა</label>
                <input type="text">
            </div>
            <div class="signupContent__Password">
                <label for="Password">პაროლი</label>
                <input type="password">
            </div>
            <div class="signupContent__Specialty">
                <label for="Specialty">პროფესია</label>
                <input type="text">
            </div>
            <div class="signupContent__ProfileImg">
                <label for="ProfileImg">პროფილის ფოტო</label>
                <div class="ProfileImgHolder">ატვირთეთ პროფილის სურათი</div>
            </div>
            <button type="submit" class="MentorBtn-Green signupBtn">გაწევრიანება</button>
        </div>
    </div>
</div>