<div class="cont for-signUp">
  <form [formGroup]="signup" class="signup" (ngSubmit)="submitForm()">
    <div class="signupContent">
      
      <div class="signupContent__Name">
        <label for="Name">სახელი</label>
        <input type="text" formControlName="name" name="name">
        <p>{{name.invalid && name.touched ? nameError : ''}}</p>
      </div>

      <div class="signupContent__Email">
        <label for="Email">ელ–ფოსტა</label>
        <input type="text" formControlName="email" name="email">
        <p>{{email.invalid && email.touched ? emailError : ''}}</p>
      </div>

      <div class="signupContent__Password">
        <label for="Password">პაროლი</label>
        <input type="password" formControlName="password" name="password">
        <p>{{password.invalid && password.touched ? passwordError : ''}}</p>
      </div>

      <div class="signupContent__Specialty">
        <label for="Specialty">პროფესია</label>
        <input type="text" formControlName="specialty" name="specialty">
        <p>{{specialty.invalid && specialty.touched ? specialtyError : ''}}</p>
      </div>

        <div class="signupContent__ProfileImg">
            <label for="ProfileImg">პროფილის ფოტო</label>
            
            <!-- Hidden file input -->
            <input type="file" id="ProfileImg" (change)="onFileSelected($event)" hidden>

            <!-- Clickable area that triggers the file input -->
            <div class="ProfileImgHolder" (click)="triggerFileInput()">
                {{ selectedFileName || 'ატვირთეთ პროფილის სურათი' }}
            </div>

            <p>{{ fileError }}</p>
        </div>


      <button type="submit" class="MentorBtn-Green signupBtn">გაწევრიანება</button>

    </div>
  </form>
</div>
