// .for-Reviews {
//     display: flex;
//     justify-content: left;
//     align-items: left;

    .reviewsSummary {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 1200px;

        .reviewCard {
            border: 1px solid rgb(240, 240, 240);
            display: flex;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // base shadow
            cursor: pointer;

            .reviewCard__Header {
                display: flex;
                // justify-content: space-between;
                gap: 10px;
                align-items: center;

                img {
                    width: 190px;
                    height: 50px;
                    object-fit: cover;
                }
            }

        }
    }
// }

@media (min-width: 900px) and (max-width: 1199.98px) {
    .reviewsSummary {
        width: 880px;
    }
}

@media (min-width: 600px) and (max-width: 899.98px) {
    .reviewsSummary {
        width: 580px;
    }
}

@media (min-width: 280px) and (max-width: 599.98px) {
    .reviewsSummary {
        width: 280px;

        .reviewCard {
            .reviewCard__Header {
                flex-direction: column;
                gap: 0;

                p {
                    font-size: 20px;
                    font-weight: bold;
                }

                img {
                    width: 150px;
                    height: 30px;
                    object-fit: cover;
                }
            }

            p {
                text-align: center;
            }
        }
    }
}