<div class="cont for-signIn">
  <div class="signin">
    <form class="signinContent" [formGroup]="signin" (ngSubmit)="login()">
      <div class="signinContent__Email">
        <label for="Email">ელ–ფოსტა</label>
        <input type="text" formControlName="email">
        <p>{{ email.invalid && email.touched ? emailError : '' }}</p>
      </div>
      <div class="signinContent__Password">
        <label for="Password">პაროლი</label>
        <input type="password" formControlName="password">
        <p>{{ password.invalid && password.touched ? passwordError : '' }}</p>
        <!-- <ng-container *ngIf="gotSigninError"> -->
          <p>{{ gotSigninError ? errMsg : '' }}</p>
        <!-- </ng-container> -->
      </div>
      <a class="forgotPasswordBtn">დაგავიწყდა პაროლი?</a>
      <button type="submit" class="MentorBtn-Green signinBtn" [class.appearDisabled]="shouldAppearDisabled" 
      [disabled]="shouldAppearDisabled">
        შესვლა
      </button>
    </form>
  </div>
</div>
