<app-header></app-header>
<div class="cont">
    <div class="mentorProfile" [class.scrollLock]="showPinModal">
        <div class="mentorProfile__DataAndContact">
            <div class="mentorProfile__LeftSection">
                <div class="mentorProfile__ImgHolder">
                    <ng-container *ngIf="!isLoading; else showLoading">
                        <!-- Add safe navigation operator to ensure that selectedMentor isn't accessed before it loads -->
                        <img [src]="selectedMentor?.image">
                    </ng-container>

                    <!-- The skeleton must be separate from the image, otherwise the image would cover the skeleton's styles -->
                    <ng-template #showLoading>
                        <div class="skeleton-img"></div>
                    </ng-template>
                </div>
                <div class="mentorProfile__Info">
                    <ng-container *ngIf="!isLoading; else showLoadingMsg">
                        <h1>{{selectedMentor?.name}}</h1>
                        <p>{{selectedMentor?.position}}</p>
                    </ng-container>

                    <ng-template #showLoadingMsg>
                        <h1 class="skeleton-text"></h1>
                        <p class="skeleton-text"></p>
                    </ng-template>
                </div>  
            </div>
            <div class="mentorProfile__ContactInfo">
                <p>{{selectedMentor?.charge}}ლ</p>
                <button class="MentorBtn-Green">შეხვედრის ჩანიშვნა</button>
            </div>
        </div>

        <!-- Pin customization visibility is depended on shouldBeAbleToDelete because
        the flag already controls profile customization visibility and it would be redundant to create a separate flag for pins  
        -->
        <ng-container *ngIf="shouldBeAbleToDelete">
            <div class="mentorProfile__Pins">
                <h3>ტოპ გამოცდილებები</h3>
                <p (click)="toggleModal(true)">არჩევა</p>
            </div>
        </ng-container>

        <ng-container *ngIf="showPinModal">
            <div class="mentorProfile__pinModalBackground"></div>
            <div class="mentorProfile__pinModal">
                <div class="mentorProfile__pinModal__content">
                    <div class="mentorProfile__pinModal__content__header">
                        <h4>ტოპ გამოცდილებების ცვლილება</h4>
                        <i class="fa-solid fa-x" (click)="toggleModal(false)"></i>
                    </div>
                    <p>აირჩიეთ 3 ტოპ გამოცდილება პროფილის გვერდზე გამოსატანად</p>
                    <p>დარჩენილია {{availableTopSlots}}</p>
                    <div class="mentorProfile__pinModal__content__pins">
                        <div *ngFor="let experience of experiencesLocal; let index = index">
                            <div class="mentorProfile__pinModal__content__pins__pin" [ngStyle]="{
                                'background-color': checkForFreeTopSlots(experience) ? '#fcfafa' : 'white'  
                            }">
                                <div class="mentorProfile__pinModal__content__pins__pin__main">
                                    <div class="mentorProfile__pinModal__content__pins__pin__leftSide">
                                        <input type="checkbox" [disabled]="checkForFreeTopSlots(experience)" 
                                        [checked]="experience.isOnTop"
                                        (click)="toggleTop(experience._id)">
                                        <p [ngStyle]="{'color': checkForFreeTopSlots(experience) ? 'gray' : 'black'}">
                                            {{experience.company}}
                                        </p>
                                    </div>
                                    <i class="fa-solid fa-caret-down" (click)="togglePinFullVisibility(index)"></i>
                                </div>

                                <ng-content *ngIf="showFullPinInfo[index]">
                                    <div class="mentorProfile__pinModal__content__pins__pin__extra">
                                        <h4 [ngStyle]="{'color': checkForFreeTopSlots(experience) ? 'gray' : 'black'}">
                                            {{experience.position}}
                                        </h4>
                                        <p [ngStyle]="{'color': checkForFreeTopSlots(experience) ? 'gray' : 'black'}">
                                            {{experience.description}}
                                        </p>
                                        <button (click)="removeExperience(experience._id)">წაშლა</button>
                                    </div>
                                </ng-content>
                            </div>
                        </div>
                    </div>
                    <button class="mentorProfile__pinModal__contentSavebtn" (click)="saveChanges()">შეცვლა</button>
                </div>
            </div>
        </ng-container>

        <div class="mentorProfile__Experiences">
            <div *ngFor="let experience of topExperiences; let index = index">
                <div class="mentorProfile__experience">
                    <div class="mentorProfile__experience__contentHolder">
                        <h2>{{experience.company}}</h2>
                        <h4>{{experience.position}}</h4>
                        <p>{{experience.description}}</p>
                        <span>სექტემბერი 2021 – დეკემბერი 2023</span>
                        <!-- <h3 *ngIf="shouldBeAbleToDelete" class="removeBtn" (click)="removeExperience(experience._id)">X</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-reviews></app-reviews>
<app-mentor-cards></app-mentor-cards>