.mentorProfile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 150px;
    justify-content: center;
    // align-items: center;
    max-width: 1200px;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid;
    margin-bottom: 50px;

    .mentorProfile__DataAndContact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mentorProfile__LeftSection {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;

            .mentorProfile__Info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;

                .skeleton-text {
                    width: 300px;
                    height: 20px;
                    display: block;
                    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
                    background-size: 200% 100%; /* make gradient larger so it can move */
                    animation: flicker 1.5s infinite; 
                }

                @keyframes flicker {
                    0% {
                        background-position: -200% 0;
                    }
                    100% {
                        background-position: 200% 0;
                    }
                }
            }
        }

        .mentorProfile__ImgHolder {
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
            }

            .skeleton-img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
                background-size: 200% 100%; /* make gradient larger so it can move */
                animation: flicker 1.5s infinite; 
            }

            @keyframes flicker {
                0% {
                    background-position: -200% 0;
                }
                100% {
                    background-position: 200% 0;
                }
            }
        }

        .mentorProfile__ContactInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            p {
                font-weight: bold;
            }

            button {
                width: 150px;
            }
        }
    }

    .mentorProfile__Experiences {
        // display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem;
        // flex-direction: column;
        gap: 10px;

        // h1 {
        //     // text-align: center;
        // }

        .mentorProfile__experience {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 8px;
            width: auto;
            height: auto;
            // gap: 10px;
            padding: 20px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); // base shadow
            cursor: pointer;
            position: relative;

            
            .mentorProfile__experience__contentHolder {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 10px; 
                // justify-content: center;
                // align-items: center;

                h2 {
                    font-size: 19px;
                }

                span {
                    border-top: 1px solid;
                    color: #118577;
                }

                // p {
                    // display: -webkit-box;
                    // -webkit-box-orient: vertical;
                    // -webkit-line-clamp: 3;

                    // display: box;
                    // box-orient: vertical;
                    // line-clamp: 3;

                    // overflow: hidden;
                    // margin-bottom: 5px;
                    // width: auto;
                // }

                .removeBtn {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    // display: none;
                }

                .mentorProfile__experience:hover {
                    .removeBtn {
                        // display: block;
                        color: red;
                    }
                }
            }


        }
    }


}

@media (min-width: 900px) and (max-width: 1199.98px) {
    .mentorProfile {
        width: 880px;

        .mentorProfile__Experiences {
            // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
            .mentorProfile__experience {


                h2 {
                    font-size: 18px;
                }

                p {
                //     display: -webkit-box;
                //     -webkit-box-orient: vertical;
                //     -webkit-line-clamp: 3;

                //     display: box;
                //     box-orient: vertical;
                //     line-clamp: 3;

                //     overflow: hidden;
                //     margin-bottom: 5px;
                //     width: auto;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 899.98px) {
    .mentorProfile {
        width: 580px;

        .mentorProfile__Experiences {
            // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
            .mentorProfile__experience {
                h2 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 599.98px) {
    .mentorProfile {
        width: 280px;

        .mentorProfile__DataAndContact {
            flex-direction: column;

            .mentorProfile__LeftSection {
                display: flex;
                flex-direction: column;
                gap: 15px;
                text-align: center;
            }

            .mentorProfile__ContactInfo {
                button {
                    width: 280px;
                    font-size: 16px;
                }
            }
        }

        .mentorProfile__Experiences {
            // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   
            .mentorProfile__experience {
                .mentorProfile__experience__contentHolder {
                    h2 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                        // flex: 1;
                    }

                    span {
                        font-size: 14px;
                    }
                }

            }
        }
    }
}

