<app-header></app-header>
<div class="cont">
    <div class="mentorProfile">
        <div class="mentorProfile__DataAndContact">
            <div class="mentorProfile__LeftSection">
                <div class="mentorProfile__ImgHolder">
                    <ng-container *ngIf="!isLoading; else showLoading">
                        <!-- Add safe navigation operator to ensure that selectedMentor isn't accessed before it loads -->
                        <img [src]="selectedMentor?.image">
                    </ng-container>

                    <!-- The skeleton must be separate from the image, otherwise the image would cover the skeleton's styles -->
                    <ng-template #showLoading>
                        <div class="skeleton-img"></div>
                    </ng-template>
                </div>
                <div class="mentorProfile__Info">
                    <ng-container *ngIf="!isLoading; else showLoadingMsg">
                        <h1>{{selectedMentor?.name}}</h1>
                        <p>{{selectedMentor?.position}}</p>
                    </ng-container>

                    <ng-template #showLoadingMsg>
                        <h1 class="skeleton-text"></h1>
                        <p class="skeleton-text"></p>
                    </ng-template>
                </div>  
            </div>
            <div class="mentorProfile__ContactInfo">
                <p>{{selectedMentor?.charge}}ლ</p>
                <button class="MentorBtn-Green">შეხვედრის ჩანიშვნა</button>
            </div>
        </div>

        <div class="mentorProfile__Experiences">
            <div *ngFor="let experience of experiencesLocal; let index = index">
                <div class="mentorProfile__experience">
                    <div class="mentorProfile__experience__contentHolder">
                        <h2>{{experience.company}}</h2>
                        <h4>{{experience.position}}</h4>
                        <p>{{experience.description}}</p>
                        <span>სექტემბერი 2021 – დეკემბერი 2023</span>
                        <h3 *ngIf="shouldBeAbleToDelete" class="removeBtn" (click)="removeExperience(experience._id)">X</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-reviews></app-reviews>
<app-mentor-cards></app-mentor-cards>