@import "@fortawesome/fontawesome-free/css/all.min.css";
@import './app/styles/mixins.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'BPG Nino Mtavruli', sans-serif;
}

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('assets/fonts/bpg_glaho_sylfaen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cont {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MentorBtn-Green {
    background-color: #118577;
    color: white;
    padding: 12px;
    width: 140px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.MentorBtn-Green:hover {
    filter: brightness(90%);
}

input {
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    padding: 10px
}

ul {
  list-style-type: none;

  li {
    padding-left: 0;
    margin-left: 0;
  }
}

// This is a page wrapper to ensure that the page stretches into the full viewport
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// This is the content holder which will be inside the page wrapper, it will make the content stretch
// Together with page-wrapper they ensure that the page doesn't leave any white spaces below it 
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// This is a base class for the component, it starts with opacity 0
  .fade-in {
      opacity: 0;
      transform: translateY(20px);
      transition: 1s ease-out;
  }

  // This will be applied once the component comes into view the opacity will change to 1
  // This will manually simulate the fade in animation and it will be in sync with the component's income to view
  .visible {
      opacity: 1;
      transform: translateY(0);
  }

.skeleton-text {
    width: 300px;
    height: 20px;
    display: block;
    background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
    background-size: 200% 100%; /* make gradient larger so it can move */
    animation: flicker 1.5s infinite; 
}

@keyframes flicker {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.skeleton-img {
  width: clamp(80px, 20vw, 150px);
  aspect-ratio: 1 / 1;
  @include skeletonFlicker;
}

