*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    margin: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MentorBtn-Green {
    background-color: #118577;
    color: white;
    padding: 12px;
    width: 140px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.MentorBtn-Green:hover {
    filter: brightness(90%);
}

input {
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    padding: 10px
}

ul {
  list-style-type: none;

  li {
    padding-left: 0;
    margin-left: 0;
  }
}

